@page
@using Co_Mute.Localization
@using Co_Mute.Permissions
@using Co_Mute.Web.Pages.Carpools
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model Co_Mute.Web.Pages.Carpools.IndexModel
@inject IStringLocalizer<Co_MuteResource> L
@inject IAuthorizationService AuthorizationService
@section scripts
{
   <abp-script src ="/Pages/Carpools/Index.js"/>
}
<abp-card>
    <abp-card-header>
        <h2>@L["Carpools"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="CarpoolsTable"></abp-table>
    </abp-card-body>

<abp-card-header>
    <abp-row>
        <abp-column size-md="_6">
            <abp-card-title>@L["Carpools"]</abp-card-title>
        </abp-column>

        <abp-column size-md="_6" class="text-end">
                @if (await AuthorizationService.IsGrantedAsync(Co_MutePermissions.Carpools.Create))
                {
                    <abp-button id="NewCarpoolButton"
                        text="@L["NewCarpool"].Value"
                        icon="plus"
                        button-type="Primary"/>
                }
            </abp-column>
    </abp-row>
</abp-card-header>
 <abp-card-body>
        <abp-table striped-rows="true" id="CarpoolsTable"></abp-table>
    </abp-card-body>
</abp-card>
